<% if user_signed_in? %>
  <div class="h-1/2 w-full max-w-[50%]">
  <h2 class="text-2xl font-bold text-slate-200 my-5 text-center">Todo List
  </h2>

  <%= form_with model: Todo.new do |form| %>
    <div class="flex">
      <%= form.text_field :title, class: 'input h-[60px]', placeholder: 'Type here' %>
      <button type="submit" class="button ml-3 w-1/5 font-bold">Add task</button>
    </div>
  <% end %>

  <%# Todo list container + items %>
  <div class="my-5">
    <% if flash.notice %>
        <p class="text-red-500"><%= flash.notice %></p>
    <% end %>

    <% if @todos.empty? %>
      <div class="flex justify-between items-center p-5">
        <p class="text-slate-200">No todos added yet</p>
      </div>
    <% else %>
      <ul data-controller="todos">
        <% @todos.each do |todo| %>
          <li class="todo-list-container flex justify-between items-center p-5 my-5">
            <%= form_with(model: todo) do |f| %>
              <%= f.check_box :completed,
                               data: {
                                 id: todo.id,
                                 action: "todos#toggle"
                               },
                               class: 'input-checkbox'
                %>
              <strong class="text-slate-200 ml-4"><%= todo.title %></strong>
            <% end %>
            <%= link_to "Destroy", todo_path(todo),
                                   data: { turbo_method: :delete }, 
                                   class: 'text-slate-200' 
             %>
          </li>
        <% end%>
      </ul>
    <% end %>
  </div>
  </div>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %>
<% end %>
