<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-slate-900">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="flex flex-col h-screen items-center">
      <%= yield %>
    </main>
  </body>
</html>
